apiVersion: v1
kind: ConfigMap
metadata:
  name: c8o-install-car-files
data:
  installCarFiles.sh: |
    #!/bin/bash
    set -e
    set -o pipefail

    WORKSPACE="/workspace"
    PROJECTS_DIR="$WORKSPACE/projects"
    CONFIG_DIR="$WORKSPACE/configuration"
    BASEROW_DIR="$PROJECTS_DIR/BaserowIntegration"
    BASEROW_ENABLED="{{ if .Values.baserow.enabled }}true{{ else }}false{{ end }}"

    # Create global_symbols.properties only if it does not exist
    GLOBAL_SYMBOLS="$CONFIG_DIR/global_symbols.properties"
    if [[ ! -f "$GLOBAL_SYMBOLS" ]]; then
        echo "No Symbols found, generating Symbols"
        mkdir configuration
        cat > "$GLOBAL_SYMBOLS" << EOF
    C8Oforms.baserow.iframe=https://{{ .Values.publicAddr }}/convertigo/projects/BaserowIntegration/c8o/
    lib_baserow.https=false
    lib_baserow.port=8000
    lib_baserow.server={{ include "convertigo.fullname" . }}-br
    lib_baserow.adminuser=admin@convertigo.com
    lib_baserow.password.secret=x701301a25336f85870cef65c4c7b4b1b56fd1ac5c3496db716f30ea60a29ebea

    C8Oforms.EnableProductTour=false
    C8Oforms.hideConvertigoLogin=false
    C8Oforms.hidePasswordForgotten=false
    C8Oforms.max_tiny_img_size=1500
    C8Oforms.max_tiny_img_size_msg=*** MAX TINY MCE IMG SIZE MESSAGE ***
    C8Oforms.max_tiny_warn_msg=
    C8Oforms.maxThreads=20

    C8OBilling.database={{ include "convertigo.fullname" . }}-timescaledb
    C8OBilling.password.secret=x446e80f253299d272a9a67561864df2a
    C8OBilling.user={{ .Values.timescaledb.billing_user }}

    lib.actions.c8oforms.smtp.password.secret=xd8e180806a1c1d83a6255212121ab827
    lib.actions.c8oforms.smtp.port=587
    lib.actions.c8oforms.smtp.security=Basic
    lib.actions.c8oforms.smtp.sender=Convertigo Forms Builder <noreply@convertigo.com>
    lib.actions.c8oforms.smtp.server=smtp-relay.brevo.com
    lib.actions.c8oforms.smtp.user=
    lib.actions.c8oforms.sql.host=
    lib.actions.c8oforms.sql.password.secret=xd8e180806a1c1d83a6255212121ab827
    lib.actions.c8oforms.sql.port=
    lib.actions.c8oforms.sql.pwd=
    lib.actions.c8oforms.sql.user=
    lib_UserManager.smtp.port=465
    lib_UserManager.smtp.sender=Convertigo <noreply@convertigo.com>
    lib_UserManager.smtp.server=smtp.gmail.com
    lib_UserManager.smtp.user=noreply@convertigo.com
    lib_UserManager_ui_ngx.metadata={"appName": "Convertigo No code studio", "imgUrl": "https://cdn.prod.website-files.com/62d55bc018a5be3f0b91fcf3/62d55bc018a5be089691fd24_Color%3DBlueConvertigo.png", "htmlText": ""}
    lib_oauth.azuread.clientid=
    lib_oauth.azuread.tenantid=common
    lib_oauth.github.clientid=
    lib_oauth.github.keysecret.secret=xd8e180806a1c1d83a6255212121ab827
    lib_oauth.google.clientid=
    lib_oauth.google.keysecret.secret=xd8e180806a1c1d83a6255212121ab827
    lib_oauth.linkedin.clientid=
    lib_oauth.linkedin.keysecret.secret=xd8e180806a1c1d83a6255212121ab827
    lib_oauth.openid.clientid=
    lib_oauth.openid.clientsecret.secret=xd8e180806a1c1d83a6255212121ab827
    lib_oauth.openid.instrospect_url=
    lib_producttour.weglot_api_key=
    EOF
    fi

    if [[ -d "$PROJECTS_DIR" && -d "$CONFIG_DIR" ]]; then
        if [[ "$BASEROW_ENABLED" == "true" ]]; then
            if [[ -d "$BASEROW_DIR" ]]; then
                echo "Installation already exists. Skipping setup."
                exit 0
            fi
        else
            echo "Installation already exists (Baserow disabled). Skipping setup."
            exit 0
        fi
    fi

    # Ensure required directories exist

    echo "Installing Convertigo projects from GitHub, be sure you have access to the internet"
    mkdir -p "$PROJECTS_DIR" "$CONFIG_DIR"

    curl -L https://github.com/convertigo/C8oForms/releases/download/{{ .Values.nocodestudio.version }}/c8oforms_standalone.tar.gz | \
        tar xvz --strip-components=4 -C "$PROJECTS_DIR" --wildcards 'c8oforms_standalone/data/workspace/projects/*'

    if curl --connect-timeout 1 -s http://169.254.169.254/latest/meta-data/ >/dev/null; then
        echo "This is an AWS EC2 instance" 
        DEST_DIR="$PROJECTS_DIR/AwsMetering"
        TMP_DIR=$(mktemp -d)
        ZIP_URL="https://github.com/convertigo/c8oprj-aws-metering/archive/refs/heads/master.zip"

        mkdir -p "$DEST_DIR"
        curl -L "$ZIP_URL" -o "$TMP_DIR/archive.zip"
        unzip "$TMP_DIR/archive.zip" -d "$TMP_DIR"
        EXTRACTED_DIR=$(find "$TMP_DIR" -mindepth 1 -maxdepth 1 -type d)
        cp -R "$EXTRACTED_DIR/"* "$DEST_DIR/"
        rm -rf "$TMP_DIR"
    fi

    # Force 8.3.x instead of 8.4.x
    find $PROJECTS_DIR -mindepth 2 -maxdepth 2 -type f -name "c8oProject.yaml" -exec sed -i 's/convertigo: 8\.4\./convertigo: 8.3./' {} +

    # Set ownership only if not already owned
    if [[ $(stat -c "%U" "$PROJECTS_DIR") != "convertigo" ]]; then
        chown -R convertigo:convertigo "$PROJECTS_DIR"
    fi

    if [[ $(stat -c "%U" "$CONFIG_DIR") != "convertigo" ]]; then
        chown -R convertigo:convertigo "$CONFIG_DIR"
    fi

    echo "Setup completed successfully!"
