{{- if .Values.ingress.enabled -}}
{{- $fullName := include "convertigo.fullname" . -}}
{{- $annotations := merge (dict) .Values.ingress.annotations -}}
{{- $sessionMode := include "convertigo.sessionStoreMode" . -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey $annotations "kubernetes.io/ingress.class") }}
    {{- $_ := set $annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
{{- if eq $sessionMode "tomcat" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/affinity" "cookie" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/affinity-mode" "persistent" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/session-cookie-name" "route" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/session-cookie-hash" "sha1" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/session-cookie-secure" "false" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/session-cookie-path" "/convertigo" }}
  {{- $_ := set $annotations "nginx.ingress.kubernetes.io/session-cookie-httponly" "true" }}
{{- else if eq $sessionMode "redis" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/affinity" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/affinity-mode" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/session-cookie-name" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/session-cookie-hash" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/session-cookie-secure" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/session-cookie-path" }}
  {{- $_ := unset $annotations "nginx.ingress.kubernetes.io/session-cookie-httponly" }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "convertigo.labels" . | nindent 4 }}
  {{- with $annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}

  tls:
    - hosts:
      - {{ .Values.publicAddr }}
      secretName: convertigo-tls

  rules:
    - host: {{ .Values.publicAddr }}
      http:
        paths: 
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: {{ include "convertigo.fullname" . }}-br
                port:
                  number: 80
          - pathType: Prefix
            path: "/convertigo/"
            backend:
              service:
                name:  {{ include "convertigo.fullname" . }}
                port:
                  number: 28080
{{- end }}
